html, body {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	height: 3000px;
	background: red;
}

a{
    text-decoration: none;
    font-size: 16px;
    color: gray;    
}

.header_wrap {
	display: flex;
	width: 100vw;
	height: 400px;
	background: orange;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}

	#h_container {
		display: flex;
		width: 1920px;
		height: 400px;
		background-color: white;
		box-sizing: border-box;
		flex-direction: row;
		place-content: center;
		position: relative;
        background-image: url(/resources/img/bg_text.png);
	}

        #bg_img{
			display: flex;
            width: 200px;
            height: 268px;
        }
		#top_menu {
			display: flex;
			width: 1920px;
			height: 100px;
			box-sizing: border-box;
			position: sticky;
			top: 0;
		}

			#top_menu > div {
				display: flex;
				width: 20%;
				height: 200px;
				box-sizing: border-box;
				flex-direction: column;
			}

				#top_menu > div > a {
					display: flex;
					height: 100px;
					background-color: white;
					box-sizing: border-box;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					font-size: 2em;
					color: #e0c063;
					text-decoration: none;
				}

				#top_menu > div > a:hover {
					display: flex;
					height: 100px;
					background-color: #e0c063;
					box-sizing: border-box;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					font-size: 2em;
					color: white;
					text-decoration: none;
					border-bottom: 4px solid #e0c063;

					animation: abc 1s;
				}

				@keyframes abc {
					0% {
						background-color: white;
					}
					100% {
						background-color: #e0c063;
					}
				}

.body_wrap {
	display: flex;
	width: 100vw;
	height: 2400px;
	background: yellow;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}

	#b_container {
		display: flex;
		width: 1920px;
		height: 2400px;
		background-color: yellowgreen;
		box-sizing: border-box;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

		#main_menu {
			display: flex;
			width: 100%;
			height: 100%;
		}

			#m_menu_left {
				display: flex;
				width: 200px;
				height: 2400px;
				background-color: rgb(206, 206, 221);
				box-sizing: border-box;
				justify-content: center;
			}

				#m_menu_l_list > ul > a > h3 {
                    padding-top: 30px;
					position: relative;
					margin: 0;
					padding: 0;
					right: 20px;
				}

				#m_menu_l_list > ul {
					list-style: none;
					padding: 0;
					margin: 0;
				}

			#m_menu_right {
				display: flex;
				width: 1720px;
				height: 2400px;
				background-color: white;
				box-sizing: border-box;
				justify-content: center;
				align-items: top;
			}

                .main_1_top {
                    display: flex;
                    width: 100%;
                    height: 280px;
                    box-sizing: border-box;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                }

                    #main_1_top > h1{
                        margin: 0;
                        padding: 0;
                        border: 0;
                        color: #e0c063;
                    }

                .main_1_bot {
                    display: flex;
                    width: 100%;
                    height: 300px;
                    box-sizing: border-box;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                }
                    
                    .main1_menu1, .main1_menu2, .main1_menu3, .main1_menu4 {
                        display: flex;
                        width: 25%;
                        height: 580px;
                        box-sizing: border-box;
                        justify-content: center;
                        align-items: center;
                        flex-direction: row;
						margin-left: 20px;
						margin-right: 20px;
                    }

					#main1_img1 {
						width: 100%;
						height: 50%;
					}

					#main1_img2 {
						width: 100%;
						height: 50%;
					}

					#main1_img3 {
						width: 100%;
						height: 50%;
					}

					#main1_img4 {
						width: 100%;
						height: 50%;
					}

                .main_2 {
                    display: flex;
                    width: 1720px;
                    height: 580px;
                    box-sizing: border-box;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                }

                .main_3 {
                    display: flex;
                    width: 1720px;
                    height: 580px;
                    box-sizing: border-box;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                }

                .main_4 {
                    display: flex;
                    width: 1720px;
                    height: 580px;
                    box-sizing: border-box;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                }

                #hire_link {
                    display: block;
                }
                #hire_link > a{
                    top: 200px;
                    font-size: 200px;
                    font-weight: 900;
                }


			#m_menu_nv {
				display: flex;
				width: 100px;
				height: 70px;
                border-radius: 15%;
				background-color: rgba(255, 255, 255, 0.616);
                border: 1px solid gray;
				box-sizing: border-box;
				justify-content: center;
                justify-items: center;
				align-items: center;
                align-content: center;

				position: fixed;
				top: 400px;
				right: 100px;
			}

				.nv > ul {
					margin: 0;
					padding: 0;
					list-style: none;
				}

                .nv > ul > li > a{
                    text-decoration: none;
                }

.footer_wrap {
	display: flex;
	width: 100vw;
	height: 200px;
	background: rgb(185, 185, 185);
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}

    #f_container{
        width: 100%;
        height: 200px;
        background-image: url(/resources/img/bg_text.png);
    }

